@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

@media screen and (min-width: 769px) {
  .container {
    min-width: 700px;
    padding: 0 34px;
  }
  .nav {
    display: block;
    flex-grow: 1;
  }
  .nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .burger_menu {
    display: none;
  }
  .section__title_2 {
    text-align: left;
  }
}
html,
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  max-width: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  width: 320px;
  padding: 0 10px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.header {
  background-color: #fff;
  padding: 23px 0;
}
.header__logo {
  flex-grow: 1;
  width: 145px;
  height: 13px;
}

.nav {
  display: none;
}

.section_bg {
  background-image: url(../assets/images/bg-image.png);
  height: 500px;
  width: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  display: block;
  margin: 0 auto;
}

.section_bg_md {
  opacity: 0;
  background-image: url(../assets/images/bg-image-md.png);
  height: 320px;
  width: 768px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title_1 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 167%;
  letter-spacing: 0.05em;
  color: #000;
  padding-top: 70px;
}

.section {
  margin-bottom: 70px;
}
.section__title_2 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 133%;
  letter-spacing: 0.05em;
  color: #000;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
}
.section__subtitle {
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7b7b7b;
  margin-bottom: 30px;
}
.section__title_3 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 129%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #000;
  margin-bottom: 10px;
}
.section__title_4 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000;
  margin-bottom: 10px;
}
.section__text {
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}
.section .right-arrow {
  color: #7b7b7b;
}

.image__container {
  width: 100%;
  min-width: 300px;
  height: 300px;
  margin: 0 auto;
}
.image__container img {
  display: block;
  width: 100%;
  height: 100%;
}

.block {
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
  margin-bottom: 50px;
}

.side {
  flex: 1;
}

.section .article:nth-of-type(1) {
  margin-bottom: 50px;
}

.text-left {
  text-align: left;
}

.d-inline {
  display: inline-block;
  margin-right: 20px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.order_99 {
  order: 99;
}

.h_150 {
  height: auto;
}

.gap_25 {
  gap: 25px;
}

.mb_15 {
  margin-bottom: 15px;
}

.h_20 {
  max-height: 20px;
}

.btn_more {
  display: block;
  margin: 0 auto;
  background-color: #565656;
  font-weight: 700;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #fff;
  padding: 10px 45px;
}

.desc__top {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000;
  margin-bottom: 10px;
}
.desc__arrow {
  margin-bottom: 30px;
}
.desc__bottom {
  font-size: 18px;
  line-height: 178%;
  letter-spacing: 0.05em;
  color: #565656;
}

.footer {
  background-color: #f4f4f4;
  padding: 50px 10px;
  text-align: center;
}
.footer__title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 32px;
  letter-spacing: 0.05em;
  color: #000;
  margin-bottom: 20px;
}
.footer__phone {
  font-size: 18px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000;
  margin-bottom: 15px;
}
.footer__mail {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.rights {
  line-height: 166%;
  letter-spacing: 0.1em;
  text-align: center;
  color: #000;
}

.icon {
  width: 50px;
  height: 50px;
}

.social__link {
  color: #565656;
}

@media (min-width: 769px) {
  .container {
    width: 769px;
    padding: 0 35px;
  }
  .section_bg {
    background-image: url(../assets/images/bg-image-md.png);
    height: 320px;
    width: 768px;
  }
}/*# sourceMappingURL=main.css.map */