@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

html,
body {
  min-height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 3;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 80px;
}
.header__menu {
  position: fixed;
  background-color: #44cfa1;
  left: -100%;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 100px 20px;
  overflow: auto;
  transition: all 0.5s ease-in;
}
.header__menu.active {
  left: 0;
}
.header__list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header__logo {
  overflow: hidden;
  flex-grow: 1;
  position: relative;
  z-index: 4;
}
.header__logo img {
  display: block;
}

.header__burger {
  display: block;
  position: relative;
  width: 34px;
  height: 20px;
  order: 3;
  z-index: 4;
}

.header__burger::before,
.header__burger::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #000;
  height: 2px;
  left: 0;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger span {
  display: block;
  position: relative;
  left: 0;
  top: 10px;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: #000;
}

.header__burger.active::before {
  transform: rotate(405deg);
  top: 50%;
  transition: 0.4s linear;
}

.header__burger.active::after {
  transform: rotate(-405deg);
  top: 50%;
  transition: 0.4s linear;
}

.header__burger.active span {
  transform: scale(0);
}

.header__link {
  color: #000;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
  font-size: 14px;
  letter-spacing: 0.3em;
}

.header__link:hover {
  color: #f7a02f;
}

.header__search {
  position: relative;
  z-index: 4;
}

.main {
  margin-top: 100px;
}

.section_bg {
  background-image: url(../assets/images/bg-image.png);
  height: 500px;
  width: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  display: block;
  margin: 0 auto;
}

.title_1 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 167%;
  letter-spacing: 0.05em;
  color: #000;
  padding-top: 70px;
}

.section {
  margin-bottom: 70px;
}
.section__title_2 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 133%;
  letter-spacing: 0.05em;
  color: #000;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
}
.section__subtitle {
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7b7b7b;
  margin-bottom: 30px;
}
.section__title_3 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 129%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #000;
  margin-bottom: 10px;
}
.section__title_4 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000;
  margin-bottom: 10px;
}
.section__text {
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}
.section .right-arrow {
  color: #7b7b7b;
}

.image__container {
  width: 100%;
  min-width: 300px;
  height: 300px;
  margin: 0 auto;
}
.image__container img {
  display: block;
  width: 100%;
  height: 100%;
}

.block {
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
  margin-bottom: 50px;
}

.side {
  flex: 1;
}

.section .article:nth-of-type(1) {
  margin-bottom: 50px;
}

.text-left {
  text-align: left;
}

.d-inline {
  display: inline-block;
  margin-right: 20px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.order {
  order: 9;
}

.h_150 {
  height: auto;
}

.gap_25 {
  gap: 25px;
}

.mb_15 {
  margin-bottom: 15px;
}

.h_20 {
  max-height: 20px;
}

.btn_more {
  display: block;
  margin: 0 auto;
  background-color: #565656;
  font-weight: 700;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #fff;
  padding: 10px 45px;
}

.desc__top {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000;
  margin-bottom: 10px;
}
.desc__arrow {
  margin-bottom: 30px;
}
.desc__bottom {
  font-size: 18px;
  line-height: 178%;
  letter-spacing: 0.05em;
  color: #565656;
}

.footer {
  background-color: #f4f4f4;
  padding: 50px 10px;
  text-align: center;
}
.footer__title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 32px;
  letter-spacing: 0.05em;
  color: #000;
  margin-bottom: 20px;
}
.footer__phone {
  font-size: 18px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000;
  margin-bottom: 15px;
}
.footer__mail {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rights {
  line-height: 166%;
  letter-spacing: 0.1em;
  text-align: center;
  color: #000;
  margin-top: 40px;
}

.icon {
  width: 50px;
  height: 50px;
}

.social__link {
  color: #565656;
}

@media screen and (min-width: 768px) {
  .header__body {
    gap: 40px;
  }
  .header__menu {
    position: static;
    background-color: inherit;
    padding: 0;
    z-index: 4;
  }
  .header__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    position: relative;
    left: 0;
    top: 0;
  }
  .header__burger {
    display: none;
  }
  .header__logo {
    flex-grow: 1;
  }
  .title_1 {
    font-size: 36px;
  }
  .container {
    padding: 0 35px;
  }
  .section_bg {
    background-image: url(../assets/images/bg-image-md.png);
    height: 320px;
    width: 768px;
  }
  .section__title_2 {
    text-align: left;
  }
  .desc__bottom {
    text-align: right;
    font-family: var(--font-family);
    font-size: 19px;
    line-height: 168%;
    letter-spacing: 0.05em;
  }
}
@media screen and (min-width: 1200px) {
  .title_1 {
    font-size: 48px;
  }
  .container {
    padding: 0 45px;
  }
  .section_bg {
    background-image: url(../assets/images/bg-image-lg.png);
    height: 600px;
    width: 1440px;
  }
  .block__wrapper {
    display: flex;
    gap: 30px;
  }
  .order {
    order: 0;
  }
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .social {
    gap: 23px;
  }
  .rights {
    margin-top: 20px;
  }
  .desc {
    display: flex;
    justify-content: space-between;
  }
  .desc__item {
    max-width: 470px;
  }
  .desc__bottom {
    text-align: left;
  }
}/*# sourceMappingURL=main.css.map */