@use "mixins" as m;

@media screen and (min-width: 769px) {
  .container {
    min-width: 700px;
    padding: 0 34px;
  }
  .nav {
    display: block;
    flex-grow: 1;
    &__menu {
      @include m.flex(space-between);
    }
  }
  .burger_menu {
    display: none;
  }
  .section__title_2{
    text-align: left;
  }
}